<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ashish Shankar | Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Ashish Shankar Portfolio" />
	<meta name="keywords" content="Portfolio, Ashish Shankar" />
	<meta name="author" content="Ashish" />
	
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Ashish Shankar | Portfolio"/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">

	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="../static/favicon.ico">

	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">

	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(../static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(../static/images/mypicture.jpeg);"></div>
							<h1><span>Ashish Shankar</span></h1>
							<h3><span>Eclectic</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://github.com/Ashish17032003" target="_blank"><i class="icon-github"></i></a></li>
									<li><a href="https://www.linkedin.com/in/ashish-shankar-0545311b7/" target="_blank"><i class="icon-linkedin2"></i></a></li>
									<li><a href="https://www.instagram.com/bye_o__0/" target="_blank"><i class="icon-instagram"></i></a></li>
									<li><a href="mailto:ashishkv02@gmail.com" target="_blank"><i class="icon-email"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Ashish Shankar</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+91 93106 46401</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">ashishkv02@gmail.com</span></li>
						<li><span class="first-block">Whereabouts:</span><span class="second-block">Delhi</span></li>
						<li><span class="first-block">Codeforces:</span><span class="second-block"><a href="https://codeforces.com/profile/ashishshank">Profile</a></span></li>
						<li><span class="first-block">Leetcode:</span><span class="second-block"><a href="https://leetcode.com/ashishkv02/">Profile</a></span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hi, I'm Ashish Shankar.</h2>
					<p>I am  a self-taught developer with a strong focus on continuous learning and problem-solving. Actively participating in coding contests has allowed me to demonstrate my development and problem-solving skills. Through various projects across different technology stacks, including web development and data structures, I have showcased my proficiency and passion for programming.</p>
					<p>Beyond consuming blue light, I enjoy exploring new places through travel, immersing myself in music, and playing football. Always seeking new challenges, I am eager to contribute my skills and continue my journey in the world of technology.</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://github.com/Ashish17032003" target="_blank"><i class="icon-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/ashish-shankar-0545311b7/" target="_blank"><i class="icon-linkedin2"></i></a></li>
							<li><a href="https://www.instagram.com/bye_o__0/"><i class="icon-instagram" target="_blank"></i></a></li>
							<li><a href="https://open.spotify.com/user/quhlk1xier9lsteh5b36libon?si=a21475a2bcb14c3c" target="_blank"><i class="icon-spotify"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>


<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Featured Projects</h2>
					<p>Here are some projects which I have had the pleasure of working on. Click to see them come to life.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://ashshclips.vercel.app/" class="blog-bg" style="background-image: url(../static/images/clips.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Jun'23</span>
							<h3><a href="#">Clips</a></h3>
							<p> Welcome to the #1 app for watching, clipping, and sharing your awesome moments with friends and the world!						
								Simply create an account, upload your clips, and watch as they come to life in front of a vibrant and engaged community. </p>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://github.com/Ashish17032003/chess" class="blog-bg" style="background-image: url(../static/images/chess.png);"></a>
						<div class="blog-text">
							<span class="posted_on">Nov'22 - Feb'23 </span>
							<h3><a href="#">Cognitive Chess AI</a></h3>
							<p>A Simple Chess Engine in Python using pygame which allows only valid moves. Implemented the negamax algorithm, then added alpha beta pruning.</p>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="https://github.com/Ashish17032003/pdf-helper" class="blog-bg" style="background-image: url(../static/images/pdf.png);"></a>
						<div class="blog-text">
							<span class="posted_on">Jan'23</span>
							<h3><a href="#">PDF Software</a></h3>
							<p>Developed an in‑house command‑line PDF Software solution that can perform all sorts of operations on PDFs, such as merging, splitting,
								extracting images and adding a watermark to a given PDF.</p>
						</div> 
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>More Things I have built</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Ashish17032003/Dog-Identifier" class="work" style="background-image: url(../static/images/dog-identifier.jpg);">
						<div class="desc">
							<h3>End to End Dog Breed Classifier</h3>
							<span>Machine learning model designed to accurately identify and classify different breeds of dogs based on input images.</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="http://ashishsh.pythonanywhere.com/" class="work" style="background-image: url(../static/images/folio.png);">
						<div class="desc">
							<h3>Portfolio</h3>
							<span>Portfolio for developer based on Flask web framework.</span>
						</div>
					</a>
				</div>

				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Ashish17032003?tab=repositories" class="work" style="background-image: url(../static/images/scrape.png);">
						<div class="desc">
							<h3>Hackernews Scraper</h3>
							<span>Scrapes data above a given score level from Hackernews.</span>
						</div>
					</a>
				</div>
				
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Ashish17032003/Segmentation" class="work" style="background-image: url(../static/images/brain.jpeg);">
						<div class="desc">
							<h3>Bio Imaging</h3>
							<span>MRI Based Brain Tumor Segmentation</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Ashish17032003?tab=repositories" class="work" style="background-image: url(../static/images/converter.png);">
						<div class="desc">
							<h3>JPG Converter</h3>
							<span></span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Ashish17032003?tab=repositories" class="work" style="background-image: url(../static/images/extension.png);">
						<div class="desc">
							<h3>Class Link Extension</h3>
							<span></span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Ashish17032003?tab=repositories" class="work" style="background-image: url(../static/images/password.png);">
						<div class="desc">
							<h3>Password Checker</h3>
							<span></span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Ashish17032003/simple-calculator" class="work" style="background-image: url(../static/images/calculator.jpg);">
						<div class="desc">
							<h3>GUI Calculator</h3>
							<span>Swing based functional calculator.</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>CSS3</strong>93%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Git</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="89"><span><strong>Angular</strong>89%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MySQL</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Python</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Java</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>C/C++</strong>90%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Agile Development</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:95%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Machine Learning</span><span class="value-right">80%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">TypeScript</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Java</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Design</span><span class="value-right">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">JavaScript</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Data Analytics</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Flask</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2><a href="https://drive.google.com/file/d/1OcrCee3fLwTsuNLyQkfACGUn_1HGJFuz/view?usp=sharing" target="_blank">My Resume</a></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Timeline</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Academic Research</h3>
									<span class="company">Jan'23 - May'23</span>
								</div>
								<div class="timeline-body">
									<p>Designed a model on UNET architecture for image segmentation in Keras under the guidance of a college Professor. Can potentially improve
										patient care and assist clinicians in diagnosis, treatment planning, and monitoring of brain tumors. The results of this work will be published in an upcoming research paper.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Python Developer</h3>
									<span class="company">Dec'22 - Feb'23</span>
								</div>
								<div class="timeline-body">
									<p>Worked with popular frameworks and libraries such as Pygame, Flask, and BeautifulSoup. I have hands-on experience in building responsive and dynamic web applications using these frameworks such as this one.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Deutsch Training</h3>
									<span class="company">2022</span>
								</div>
								<div class="timeline-body">
									<p>Completed basic German language training under KSOL (KIIT School of Languages), where I gained proficiency in speaking and understanding German at a foundational level. </p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Full Stack Java Development</h3>
									<span class="company">May'22-Jul'22</span>
								</div>
								<div class="timeline-body">
									<p>training and an internship program under KIIT, which has equipped me with valuable skills in various cutting-edge technologies. I specialize in leveraging technologies such as Spring Boot, MongoDB, and Angular to develop robust and scalable applications.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Data Structures & Algorithms</h3>
									<span class="company">2021-2022</span>
								</div>
								<div class="timeline-body">
									<p>I actively participate in various coding contests and competitions. Furthermore, i have carried some prestigious certifications regarding the same. </p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Bachelors Degree</h3>
									<span class="company">KIIT- 2020-2024</span>
								</div>
								<div class="timeline-body">
									<p>B.Tech Computer Science and Engineering.</p>
									<p>CGPA - 8.94</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Class 12th Certificate</h3>
									<span class="company">Sant Gyaneshwar Model School - 2020</span>
								</div>
								<div class="timeline-body">
									<p></p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Class 10th Certificate</h3>
									<span class="company">Kendriya Vidyalaya Pitampura - 2018</span>
								</div>
								<div class="timeline-body">
									<p></p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<p>My Inbox is always open for new ideas and exciting discussions. If you have some exciting project in mind, or just want to chat, get in touch with me here...</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact Me ↓ </a></p>					
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(../static/images/cover_bg_1.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<h2>Contact</h2>
			<form action="submit_form" method="post" >
				<div class="row form-group">
					<div class="col-md-6">
						<input name="firstname" type="text" id="fname" class="form-control" placeholder="Your firstname">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<input name="lastname" type="text" id="lname" class="form-control" placeholder="Your lastname">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input name="email" type="email" id="email" class="form-control" placeholder="Your email address">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input name="subject" type="text" id="subject" class="form-control" placeholder="Your subject of this message">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something "></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Message" class="btn btn-primary">
				</div>

			</form>	
		</div>
	</div>


	
	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p style="text-align: center;">© 2023 • Ashish Shankar</p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="../static/js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="../static/js/jquery.easypiechart.min.js"></script>

	
	<!-- Main -->
	<script src="../static/js/main.js"></script>

	</body>
</html>